*{
    margin: 0;
}
.container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    padding: 50px;
    /* background-color: rgb(210, 228, 235); */
    background: url(img1.jpeg) no-repeat;
    background-size: cover;
    margin: 5px;
}
h1{
    color: rgb(247, 75, 44);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 35%;
    
}
form input{
    /* margin: 5px;    */
    padding: 5px;
    border-radius: 5px;
    width: auto;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn{
    padding: 10px;
    background-color: green;
    border: 2px solid white;
    /* color: white; */
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}
.btn:hover{
    font-weight: bolder;
}
.btn2{
    padding: 10px;
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}
.btn2:hover{
    font-weight: bolder;
}
#date{
    width: 35%;
}